@{
    ViewData["Title"] = "Acerca de";
}
<div class="container text-center">
    <label class="lead"><strong>Datos del desarrollador</strong></label>
    <br />
    <p>
        <label>Nombre Completo:</label> Angel Martin Mongrut Tejeda.<br />
        <label>Matricula:</label> 2018-7151.<br />
        <label>Contacto (<a href="https://mail.google.com">Gmail</a>):</label> angelmongrut@gmail.com<br /><br />
    </p>
</div>
